.header{
    .container{
        //This should be for the desktop view
        // &-hero{
        //     padding-bottom:15px;
        //     .hero-image{
        //         display:flex;
        //         flex-direction:row;
        //         flex-wrap:wrap;
        //         height:100vh;

        //     }
        // }
        z-index:0;
        display:flex;
        background-image:url('../assets/images/kelly-sikkema-r077pfFsdaU-unsplash.jpg');
        background-size:cover;
        background-position: center;
        min-height:490px;
        min-width:375px;
        height:100%;
        width:100%;
        margin-left:auto;
        margin-right:auto;
        .container-hero-text{
            margin-left:auto;
            margin-right:auto;
            .hero{
                &-name{
                    font-size:2rem;
                    display:block;
                    position:relative;
                    z-index:1;
                    color:white;
                    top:40%;
                    right:0;
                    left:0;
                    bottom:0;
                }
                &-description{
                    overflow:hidden;
                    display:flex;
                    position:relative;
                    color:white;
                    z-index:1;
                    top:42.5%;
                    right:0;
                    left:0;
                    bottom:0;
                    margin-left:auto;
                    margin-right:auto;
                }
            }
        }
    }
}