.middle{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin:0 auto;
    padding:35px 15px;
    background-color:#fff;
    .container{
        &-proj{
            width:300px;
            margin:0 auto;
            &--module{
                display:flex;
                flex-direction:column;
                text-decoration:none;
                color:black;
                font-family:$Roboto-Flex;
                margin-bottom:10px;
                border:solid 1px rgba(0,0,0,.25);
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                img{
                    min-width:60px;
                    min-height:40px;
                    max-height:100%;
                    max-width:100%;
                }
                h2{
                    display:inline-flex;

                }
                p{
                    display:inline-flex;
                    justify-content:flex-end;
                    margin:0;
                    padding:0;
                }
            }
        }
    }
}